@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Register Montserrat font */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Register Open Sans font */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary-400);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary-950);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent-400);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --font-montserrat: "Montserrat", system-ui, sans-serif;
  --font-sans: "Open Sans", system-ui, sans-serif;

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary-50: oklch(0.976 0.0099 212.52);
  --primary-100: oklch(0.9395 0.0248 209.25);
  --primary-200: oklch(0.8831 0.0441 210.8);
  --primary-300: oklch(0.8015 0.0724 212.86);
  --primary-400: oklch(0.6941 0.0935 216.51);
  --primary-500: oklch(0.5941 0.0905 219.07);
  --primary-600: oklch(0.5279 0.0796 223.54);
  --primary-700: oklch(0.4588 0.0655 226.87);
  --primary-800: oklch(0.4075 0.0511 229.53);
  --primary-900: oklch(0.3673 0.0426 233.02);
  --primary-950: oklch(0.2767 0.0358 233.97);
  --primary-foreground: oklch(0.985 0 0);

  --secondary-50: oklch(0.9804 0.0139 138.71);
  --secondary-100: oklch(0.9569 0.0347 140.01);
  --secondary-200: oklch(0.9125 0.0632 139.43);
  --secondary-300: oklch(0.8238 0.1228 139.95);
  --secondary-400: oklch(0.7488 0.1554 140.2);
  --secondary-500: oklch(0.6572 0.1673 140.27);
  --secondary-600: oklch(0.5681 0.149 140.21);
  --secondary-700: oklch(0.4818 0.1209 140.41);
  --secondary-800: oklch(0.4129 0.0925 140.17);
  --secondary-900: oklch(0.3639 0.0782 140.81);
  --secondary-950: oklch(0.2459 0.0561 140.78);
  --secondary-foreground: oklch(0.205 0 0);

  --accent-50: oklch(0.9853 0.0251 99.52);
  --accent-100: oklch(0.9689 0.0671 101.15);
  --accent-200: oklch(0.9358 0.1207 98.08);
  --accent-300: oklch(0.9064 0.1464 95.37);
  --accent-400: oklch(0.846 0.1701 87.68);
  --accent-500: oklch(0.781 0.1602 81.28);
  --accent-600: oklch(0.6669 0.1436 70.25);
  --accent-700: oklch(0.5441 0.1238 61.42);
  --accent-800: oklch(0.4683 0.107 56.98);
  --accent-900: oklch(0.4134 0.0921 53.32);
  --accent-950: oklch(0.2816 0.0655 50.55);
  --accent-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer utilities {
  .clip-path-hidden {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .clip-path-visible {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-primary-500 font-sans text-neutral-50;
  }

  h1 {
    @apply font-montserrat text-4xl leading-[1.1] font-semibold tracking-tight text-balance lg:text-5xl;
  }

  h2 {
    @apply font-montserrat text-3xl leading-[1.2] font-semibold tracking-tight text-balance lg:text-4xl;
  }

  a {
    @apply block;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl px-5 py-16 lg:px-8;
  }
}
