@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Register Montserrat font */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Register Open Sans font */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary-400);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary-950);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent-400);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --font-montserrat: "Montserrat", system-ui, sans-serif;
  --font-sans: "Open Sans", system-ui, sans-serif;

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary-50: oklch(0.9848 0.0166 178.29);
  --primary-100: oklch(0.9562 0.0535 181.84);
  --primary-200: oklch(0.9188 0.098 182.84);
  --primary-300: oklch(0.8697 0.1308 182.91);
  --primary-400: oklch(0.8223 0.1307 185.09);
  --primary-500: oklch(0.7269 0.1268 184.93);
  --primary-600: oklch(0.6186 0.1068 187.48);
  --primary-700: oklch(0.5265 0.0893 188.75);
  --primary-800: oklch(0.4494 0.074 189.79);
  --primary-900: oklch(0.3955 0.0622 190.28);
  --primary-950: oklch(0.2842 0.0471 194.83);
  --primary-foreground: oklch(0.985 0 0);

  --secondary-50: oklch(0.9755 0.0045 258.32);
  --secondary-100: oklch(0.9454 0.0116 264.51);
  --secondary-200: oklch(0.8838 0.0244 253.96);
  --secondary-300: oklch(0.7812 0.0456 253.65);
  --secondary-400: oklch(0.6616 0.0721 251.54);
  --secondary-500: oklch(0.5633 0.0861 253.2);
  --secondary-600: oklch(0.4827 0.0803 254.87);
  --secondary-700: oklch(0.4163 0.0685 256.71);
  --secondary-800: oklch(0.3752 0.0568 256.62);
  --secondary-900: oklch(0.3421 0.0453 258.75);
  --secondary-950: oklch(0.2549 0.0313 260.42);
  --secondary-foreground: oklch(0.205 0 0);

  --accent-50: oklch(0.9691 0.0151 17.42);
  --accent-100: oklch(0.9343 0.0332 17.76);
  --accent-200: oklch(0.8793 0.064078 18.4457);
  --accent-300: oklch(0.8015 0.1135 19.87);
  --accent-400: oklch(0.7116 0.1812 22.84);
  --accent-500: oklch(0.6433 0.2245 26.26);
  --accent-600: oklch(0.5882 0.2282 28.06);
  --accent-700: oklch(0.5161 0.202 28.23);
  --accent-800: oklch(0.4522 0.1728 27.78);
  --accent-900: oklch(0.4004 0.143 26.62);
  --accent-950: oklch(0.2606 0.0953 26.99);
  --accent-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer utilities {
  .clip-path-hidden {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .clip-path-visible {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-secondary-950 font-sans text-neutral-50;
  }
}
