---
import { SuccessCard } from "@/features/property-check/components/success-card";
import Layout from "@/layouts/main.astro";
---

<Layout>
  <main class="wrapper flex min-h-svh items-center justify-center">
    <SuccessCard client:load />
  </main>
</Layout>
