---
import "@/styles/global.css";
import { Button } from "@/components/ui/button";
import { Navbar } from "@/components/navbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Pinti Properti</title>
  </head>

  <body>
    <div class="mx-auto max-w-7xl">
      <Navbar client:load />
      <div
        class="grid min-h-screen place-items-center content-center text-balance"
      >
        <h1 class="font-montserrat text-7xl tracking-tighter">
          Pinti Properti
        </h1>
        <Button className="text-secondary mt-6">Click me</Button>
      </div>
    </div>
  </body>
</html>
