---
import "@/styles/global.css";

import Navbar from "@/components/navbar.astro";
import Hero from "@/components/hero.astro";
import Problems from "@/components/problems.astro";
import Benefits from "@/components/benefits.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Pinti Properti</title>
  </head>

  <body>
    <div class="mx-auto max-w-7xl">
      <Navbar />
      <main>
        <Hero />
        <Problems />
        <Benefits />
      </main>
    </div>
  </body>
</html>
