---
import "@/styles/global.css";

import Layout from "@/layouts/main.astro";
import Hero from "@/components/hero.astro";
import Problems from "@/components/problems.astro";
import Services from "@/components/services.astro";
import Benefits from "@/components/benefits.astro";
import TaxSavings from "@/components/tax-savings.astro";
import Testimonials from "@/components/testimonials.astro";
import FAQ from "@/components/faq.astro";
import BuildWealth from "@/components/build-wealth.astro";
---

<Layout>
  <main>
    <Hero />
    <Problems />
    <Services />
    <Benefits />
    <TaxSavings />
    <Testimonials />
    <FAQ />
    <BuildWealth />
  </main>
</Layout>
