---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Pinti Properti</title>
  </head>

  <body>
    <div class="grid h-screen place-items-center content-center">
      <h1 class="text-7xl tracking-tighter">Pinti Properti</h1>
    </div>
  </body>
</html>
