---
import CTA from "@/components/cta.astro";
---

<section id="build-wealth" class="wrapper">
  <div
    class="from-secondary-800 to-secondary-900 rounded-xl bg-linear-to-b p-10 text-center lg:p-20"
  >
    <div class="mx-auto max-w-2xl space-y-8">
      <h2>
        Ready to <span class="text-accent-300">Build Wealth</span> in Germany?
      </h2>
      <p class="text-balance lg:text-lg">
        Book a free consultation. No pressure, just honest advice about what's
        possible for your situation.
      </p>
      <CTA class="mx-auto w-fit" />
    </div>
  </div>
</section>
