---
import { cn } from "@/lib/utils";
import LinkButton from "./link-button.astro";
import { ScheduleButton } from "@/components/schedule-button";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn("flex flex-col gap-2 lg:flex-row", className)}>
  <ScheduleButton client:visible />
  <LinkButton href="/property-check" variant="outline">
    Discover Your Investment Options
  </LinkButton>
</div>
