---
import { FAQAccordion } from "@/components/faq-accordion";
---

<section id="faq" class="wrapper max-w-3xl space-y-12">
  <h2 class="text-center">
    Frequently Asked <span class="text-accent-300">Questions</span>
  </h2>

  <FAQAccordion client:visible />

  <p>
    Still have questions? <a href="/#" class="text-accent-300 underline"
      >Contact our team</a
    > — we're here to help.
  </p>
</section>
