---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="group relative block text-sm lg:text-base">
  <slot />
  <span
    class="text-accent-300 absolute top-0 left-0 transition-[clip-path] duration-700 will-change-transform [clip-path:polygon(0%_100%,100%_100%,100%_100%,0%_100%)] group-hover:duration-500 group-hover:[clip-path:polygon(0%_100%,100%_100%,100%_0%,0%_0%)]"
    aria-hidden="true"
  >
    <slot />
  </span>
</a>
