---
import NavLink from "@/components/nav-link.astro";
import LinkButton from "@/components/link-button.astro";
---

<header>
  <nav
    aria-label="Global"
    class="font-montserrat flex items-baseline justify-between p-5 py-6 lg:px-8"
  >
    <!-- Logo -->
    <a href="/#" class="-m-1.5 p-1.5 font-semibold tracking-tight lg:text-xl">
      <span class="sr-only">Pinti Properti</span>
      Pinti Properti
    </a>

    <!-- Desktop navigation -->
    <div class="hidden items-baseline lg:flex lg:gap-x-12">
      <NavLink href="/#">About</NavLink>
      <NavLink href="/#">Services</NavLink>
      <NavLink href="/#">Testimonials</NavLink>
      <LinkButton href="/#"
        >Contact Us<span aria-hidden="true">&rarr;</span></LinkButton
      >
    </div>

    <!-- Mobile menu button -->
    <div class="flex lg:hidden">
      <LinkButton href="/#"
        >Contact Us<span aria-hidden="true">&rarr;</span></LinkButton
      >
    </div>
  </nav>
</header>
